<table class="table table-striped">
  <tbody ng-repeat="d in drinks track by $index | favorites: onlyFavorites"> 

    <tr data-toggle="collapse" data-target="drink-{{$index}}" class="accordion-toggle">
      <td width="3%">
        <a ng-show="d.url" href="{{d.url}}" target="_blank">
          <i class="glyphicon glyphicon-new-window"></i>
        </a>
      </td>
      <td width="3%"><i ng-show="d.favorite" class="glyphicon glyphicon-heart"></i></td>
      <td width="15%">{{d.name | titleize}}</td>
      <td>{{d.ingredients | iPrint:d.diff }}</td>
    </tr>

  </tbody>
</table>
