<label class="checkbox-inline">
  <input ng-model="options.favorite" type="checkbox">Favorites
</label>

<label class="checkbox-inline">
  <input ng-model="options.unmade" type="checkbox">Unmade
</label> 

<table class="table table-striped">
  <tbody ng-repeat="d in filteredDrinks = (drinks | checkboxes:options )"> 

    <tr data-toggle="collapse" data-target="drink-{{d._id}}" class="accordion-toggle">
      <td width="3%">
        <a ng-show="d.url" href="{{d.url}}" target="_blank">
          <i class="glyphicon glyphicon-new-window"></i>
        </a>
      </td>
      <td width="3%"><i ng-show="d.favorite" class="glyphicon glyphicon-heart"></i></td>
      <td width="15%">{{d.name | titleize}}</td>
      <td>{{d.ingredients | iPrint:d.diff }}</td>
    </tr>
  </tbody>
  <tr ng-hide="filteredDrinks.length"><td>No Drinks</td></tr>
</table>
