<form class="form-inline filter-form">
  <input type="text" class="form-control" id="ing" 
    placeholder="Filter by Ingredient" ng-model="ingredient" autocomplete="off"
    uib-typeahead="i as i.name for i in ingredients | 
    filter: { name:$viewValue, inPantry: 'true' }">

  <label class="checkbox-inline">
    <input ng-model="options.favorite" type="checkbox">Favorites
  </label>

  <label class="checkbox-inline">
    <input ng-model="options.unmade" type="checkbox">Unmade
  </label> 
</form>

<div class="drink-table-container">
  <table class="table table-striped">
    <tbody> 

      <tr ng-repeat="d in filteredDrinks = (drinks | checkboxes:options | ingredients:ingredient)">
        <td width="3%">
          <a ng-show="d.url" href="{{d.url}}" target="_blank">
            <i class="glyphicon glyphicon-new-window"></i>
          </a>
        </td>
        <td width="3%"><i ng-show="d.favorite" class="glyphicon glyphicon-heart"></i></td>
        <td width="15%">{{d.name | titleize}}</td>
        <td>{{d.ingredients | iPrint:d.diff }}</td>
        <td width=3%"><i ng-show="editable" ng-click="editing(d)"
            class="glyphicon" ng-class="setEditIcon(d)"></i>
        </td>
        <td width="3%"><i ng-show="editable" ng-click="remove(d)" 
            class="glyphicon glyphicon-remove"></i>
        </td>
      </tr>
      <tr ng-hide="filteredDrinks.length"><td>No Drinks</td></tr>
    </tbody>
  </table>
</div>
