.drink-table-container {
  max-height: 300px;
  overflow: auto;
  margin-bottom: 20px;
}

.filter-form {
  margin-bottom: 5px;
}

.ing-list {
  max-height: 400px;
  overflow: auto;
}

.ing-list li {
  float: left;
}
